.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/**/.idea/vcs.xml

/Demo1/.gradle
/Demo1/.idea
/Demo1/.cxx
/Demo1/build

/Demo2/.gradle
/Demo2/.idea
/Demo2/.cxx
/Demo2/build

/Demo3/.gradle
/Demo3/.idea
/Demo3/.cxx
/Demo3/build

/Demo4/.gradle
/Demo4/.idea
/Demo4/.cxx
/Demo4/build

/Demo5/.gradle
/Demo5/.idea
/Demo5/.cxx
/Demo5/build

/Demo6/.gradle
/Demo6/.idea
/Demo6/.cxx
/Demo6/build

/Demo7/.gradle
/Demo7/.idea
/Demo7/.cxx
/Demo7/build

/Demo8/.gradle
/Demo8/.idea
/Demo8/.cxx
/Demo8/build

/Demo9/.gradle
/Demo9/.idea
/Demo9/.cxx
/Demo9/build
